{% macro show_600477() %}
    <pre>
                                                                          +---------------------------------+
+----------------------+                          |                                 |
|                      |                          |   slump in 600477               |
|  a man bought 600477 |  +---------------------> |                                 |
|                      |                          |                                 |
+----------------------+                          |                                 |
                                                  |         it's very common        |
                                                  |                                 |
                                                  +----------X---X-+----------------+
  +---------------------------+                                    |
  |                           |                                    |
  |                           |                                    |
  |                           |                                    |
  |                           |                                    |
  |   if you bought 600477,   |                                    |
  |   you would be sad.       |                                    |
  |                           X                                    |
  |                           X                                    |
  |                           |                                    |
  |                           +------------------------------------+
  |                           |
  +---------------------------+


                                       XX
               XXXXX     XXXX       XXXXXXX
             XX         XX   X      XXX   XX         X XXX         XXX  X XX   XX X  X
            X           X     X    XX      X        X                      X           XX
          XX           XX     X    X       X      X         X             X
          XXXXX       X       X   X        X    XX         X             X              X
         X    XX     XX      XX  X         X   XXX        X    XX                      X
        XX     X     X       X   X         X       X   X  X  X XX       X
        X      X     XX     X    X         X             X                            X
         XX XX X      XXX XX     X       XX            X               X
                                  XXXX XX                             X              X
                                                     XX               X
                                                                      X             X
                                                                                   X
                                                                                   X
                                X XXXXXX    X
                              X        X    X
                           XX               X
                          X                 XXXXX
                          X                 XX    XXX
                            X  X           XX       X
                                  X X      X        X
                                    XX    XX     XXX
                        XXXXXXXX X X      X XXXXX
    </pre>
{% endmacro %}