<title>477 is very dangerous</title>
<h1>nice to meet you</h1>
<pre>
    brothers, I, Deviluna,
    stands here today humbled by the task before us,
    say to you:
    Don't buy 600477,love and peace every day.

                              X X X XXXX             X
  XXX X XX        XX                   X             X
   X     X         X           XXX  XX  X            X
    X   XX         X             X  X   X            X
    XX XXX     X   X          XX   X                 X
      X        X  X               X                 XX
   XXXX X XX   X  X         XXX XXXXX               X
      X   XX      X         X    X                 XX
     XX   X       X            XXXXX               X
    XX    X      X           XX    XX
         XX      X          X        XX          XX
                X                                XXX




    XX                XXX      XX     XXXXXX  XXXXXX
  XX         XXXX    X  XX    XX  X        X       X
  X       XXX   X    X   XX  XX   X        X       X
XXXX     XX     X   XX    X  X XXXXX      XX      XX
XX  X    X      X  XX     X      X        X       X
X   XX   X      X  X      X     X        XX      X
X    X   XX   XX   XXXXXXX      X        X       X
XX XXX    XXXXX                 X        X       X
 XXX



</pre>